#root
  width 100%
  height 100%
  .box-center
    display flex
    justify-content center
    align-items center
    width 100%
    height 100%
    margin auto
    text-align center
    .antd-input
      display inline-block
      width 500px
    .data-panel
      overflow auto
      height 60%
      width 60%
      margin 2% auto
      padding 1%
      background-color white
      border 1px solid gray
      .one_data
        margin 1% auto
        line-height 32px